/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

em {
  font-style: italic;
}

a:hover {
  cursor: pointer;
}

.portfolio-is-active {
  background: #62a29e;
}

button {
  border: none;
}

header {
  position: relative;
  z-index: 9;
}

.portfolio-navigation-tab ul {
  display: flex;
}

.portfolio-navigation-tab button {
  font-family: "Open Sans", sans-serif;
}

/* PAGINATION 
*************************************/
 .pagination-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 5px;
}

.pagination-item.is-active .pagination-link {
  pointer-events: none;
  background-color: #649792;
}

.pagination-link {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #8c9898;
  font-weight: 800;
  line-height: 1;
}
.pagination-link:hover {
  background-color: #e5655d;
}

.pagination-previous .pagination-link, .pagination-next .pagination-link {
  position: relative;
}
.pagination-previous .pagination-link::before, .pagination-next .pagination-link::before {
  content: "";
  background: url(../img/common/previous_icn.png) center/9px auto no-repeat;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: -2px;
}

.pagination-next .pagination-link::before {
  transform: rotate(180deg);
}

footer {
  background-size: 100% auto;
}

/************************ PC *************************/

@media print, (min-width: 768px) {

  header {
    padding: 27px 0 23px; 
  }

  .about-us-breadcrumb .page-title {
    margin-left: 7px;
  }

  .portfolio-navigation-section::before {
    left: 16px;
  }

  .header-navigation .portfolio-navigation-section {
    margin-left: -7px;
  }

  .header-navigation ul .portfolio-is-active {
    background: #62a29e;
    box-shadow: 0 3px 0 0 #528b86;
    border-radius: 5px;
    padding: 8px 19px 8px 30px;
    margin-right: 6px;
  }

  .portfolio-navigation-tab nav {
    margin-left: -2px;
  }

  .portfolio-navigation-tab ul li {
    margin-right: 20px;
  }

  .portfolio-navigation-tab ul button {
    padding: 6px 13px 5px;
    font-size: 14px;
    margin-right: 1px;
    transition: .25s ease;
    background: #98a3a3;
    color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 0 0 #808c8c;
  }

  .portfolio-navigation-tab .portfolio-navigation-active {
    background: #62a19d;
    box-shadow: 0 3px 0 0 #528a86;
  }

  .portfolio-navigation-tab {
    margin-top: -11px;
    margin-bottom: 39px;
  }
  
  .portfolio-navigation-tab ul button:hover {
    background-color: #63a19d;
    box-shadow: 0 3px 0 0 #528a86;
  }

  .portfolio-column-list {
    margin-bottom: 65px;
  }

  .portfolio-column-list ul li:not(:last-child) {
    margin-bottom: 40px;
  }

  .portfolio-container {
    display: flex;
  }

  .portfolio-container .portfolio-picture {
    border-radius: 6px;
    box-shadow: 0 3px 0 0 #e4e6e6;
    width: 570px;
    height: 270px;
  }

  .portfolio-container .portfolio-description .portfolio-heading {
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 20px;
    letter-spacing: .01em;
  }

  .portfolio-container .portfolio-description > p {
    line-height: 1.64;
    margin-bottom: 56px;
    letter-spacing: -.01em;
  }

  .portfolio-container .portfolio-description {
    margin-top: 3px;
    margin-left: 30px;
  }

  .portfolio-details {
    display: flex;
    justify-content: space-between;
    margin-left: -2px;
  }

  .portfolio-details-link img {
    border-radius: 3px;
  }

  .portfolio-details-link .detail-link-hover {
    display: none;
  }

  .portfolio-details-link:hover .detail-link {
    display: none;
  }

  .portfolio-details-link:hover .detail-link-hover {
    display: block;
  }

  .portfolio-details a:hover {
    opacity: 1;
  }

  .portfolio-details-link:hover p {
    color: #e2534b;
  }

  .portfolio-description .portfolio-details p {
    font-size: 20px;
    font-weight: 600;
    margin-left: 15px;
    opacity: 1;
  }

  /* .portfolio-description .portfolio-details p:hover {
    color: #e2534b;
  } */

  .portfolio-details a {
    display: flex;
    align-items: center;
  }

  .portfolio-details .portfolio-details-more {
    display: block;
    font-weight: 600;
    text-align: center;
    background: #76c7c0;
    border-radius: 6px;
    padding: 18px 54px;
    font-size: 14px;
    box-shadow: 0 4px 0 0 rgb(98,184,175);
    margin-right: 2px;
    transform: translateY(4px);
  }

  .portfolio-details .portfolio-details-more:hover {
    background: #e76459;
    box-shadow: 0 4px 0 0 #e2534b;
    opacity: 1;
  }

  /*********************** PAGINATION */

  .pagination-area {
    transform: translateX(-10px);
    padding-bottom: 66px;
  }

  .pagination-list .pagination-previous {
    margin-right: 25px;
  }

  .pagination-next {
    margin-left: 15px;
  }

  .pagination-item {
    margin: 5px;
  }
  .pagination-item.is-active .pagination-link {
    box-shadow: 0 3px 0 0 #528b86;
  }

  .pagination-link {
    width: 40px;
    height: 34px;
    padding-top: 3px;
    border-radius: 5px;
    box-shadow: 0 3px 0 0 #7f8c8c;
    font-size: 16px;
  }
  .pagination-link:hover {
    box-shadow: 0 3px 0 0 #e2534b;
  }

  .pagination-previous .pagination-link::before {
    background: url(../img/common/icn_single_arrow.png) center top 13px/9px auto no-repeat;
  }

  .pagination-next .pagination-link::before {
    background: url(../img/common/icn_single_arrow.png) center bottom 13px/9px auto no-repeat;
  }

  footer {
    padding-top: 49px;
  }
}

/************************ SP *************************/

@media only screen and (max-width: 767px) {
  html {
    font-size: calc(100vw / 3.75);
  }

  body {
    font-size: .24rem;
    overflow-x: hidden;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 .2rem;
  }

  header {
    padding: .2rem .1rem;
  }

  .heading-title {
    font-size: .16rem;
  }

  .breadcrumb {
    padding: .1rem 0;
    margin-bottom: .4rem;
  }

  .breadcrumb .wrapper::after {
    bottom: -.09rem;
    border-width: .09rem;
  }

  .breadcrumb-directory {
    font-size: .08rem;
  }

  footer {
    padding-top: .4rem;
    background-size: auto .2rem;
  }
}