/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  color: #7f8c8c;
  background: #f3f3f3;
}

button, a {
  cursor: pointer;
  transition: opacity .28s ease;
}

button:hover, a:hover {
  opacity: .8;
}

.breadcrumb {
  position: relative;
  background: #ecebec;
}

.breadcrumb .wrapper::after {
  content: "";
  position: absolute;
  display: inline-block;
  border-style: solid;
  border-color: transparent #ecebec #ecebec transparent;
  transform: rotate(45deg);
}

.page-title {
  color: #7f8c8c;
}

.breadcrumb .wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.breadcrumb-directory {
  display: flex;
}

.breadcrumb-directory .contact-path {
  position: relative;
  left: 3px;
}

.breadcrumb-directory li a {
  color: #7f8c8c;
}

.heading-title {
  font-weight: 600;
}

.team-section .team-category a {
  box-shadow: none;
  background: #98a3a3;
}

input {
  background: #e5e6e6;
  border: none;
  outline: none;
}

/********************** PC **********************/

@media print, (min-width: 768px) {

  header {
    background-size: 100% auto;
    padding: 27px 0 22px;
  }

  .container {
    min-width: 1250px;
  }

  .wrapper {
    width: 73.125rem;
    margin-left: auto;
    margin-right: auto;
  }

  .heading-title {
    font-size: 20px;
  }

  .breadcrumb {
    margin-bottom: 50px;
    padding: 33px 0px 28px;
  }

  .breadcrumb .wrapper::after {
    border-width: 9px;
    bottom: -8px;
  }

  .breadcrumb-directory {
    font-size: 12px;
    margin-right: 4px;
  }

  .services-breadcrumb {
    margin-bottom: 52px;
  }

  .page-intro .heading-intro {
    margin-left: 1px;
    letter-spacing: .022em;
  }

  .page-title {
    margin-left: 9px;
  }

  .services-categories .team-category {
    padding: 55px 0 50px;
  }

  .team-category .package-description li {
    padding: 17px 0 22px;
    line-height: .8;
    font-size: 14px;
  }

  .team-category .package-description li:nth-child(2) {
    border-top: 1px solid #ececec;
    border-bottom: 1px solid #ececec;
  }

  .team-category .package-description li:nth-child(3) {
    border-bottom: 1px solid #ececec;
  }

  .team-category .category-section-box {
    position: absolute;
    opacity: 1;
    transition: .25s ease;
    left: 50%;
    transform: translateX(-51%);
    width: auto;
    top: -30px;
    font-size: 16px;
    font-weight: 700;
  }

  .team-category:hover .category-section-box {
    background: #e8645a;
    box-shadow: none;
  }

  .team-category:hover .category-box {
    box-shadow: none;
  }

  .team-category:hover .package-description li {
    color: #fff;
  }

  .service-packages {
    margin-bottom: 16px;
  }

  .service-packages .product-goals {
    width: 264px;
    margin-right: 62px;
  }

  .service-packages .product-testing {
    width: 610px;
    margin: -8px 13px 0 11px;
  }

  footer {
    padding-top: 49px;
    background-size: 100% auto;
  } 
}

/********************** SP **********************/

@media only screen and (max-width: 767px) {

  html {
    font-size: calc(100vw / 3.75);
  }

  body {
    font-size: .24rem;
    overflow-x: hidden;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 .2rem;
  }

  header {
    padding: .2rem .1rem;
  }

  .heading-title {
    font-size: .16rem;
  }

  .breadcrumb {
    padding: .1rem 0;
    margin-bottom: .4rem;
  }

  .breadcrumb .wrapper::after {
    bottom: -.09rem;
    border-width: .09rem;
  }

  .breadcrumb-directory {
    font-size: .08rem;
  }

  footer {
    padding-top: .4rem;
  }
}
