/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

main {
  color: #7f8c8c;
}

.breadcrumb {
  background: #ecebec;
}

.page-title {
  color: #7f8c8c;
}

.breadcrumb .wrapper {
  display: flex;
  justify-content: space-between;
}

.breadcrumb-directory {
  display: flex;
}

.breadcrumb-directory li a {
  color: #7f8c8c;
}

.geographic-location .location-description {
  background: #ececec;
}

.request-form .client-name {
  margin-bottom: 20px;
}

.request-form .client-email {
  margin-bottom: 20px;
}

.request-form .client-website {
  margin-bottom: 20px;
}

.request-form .client-request {
}

.request-location .location-info a {
  color: #7f8c8c;
}

.request-location .location-info .location-marker {
  color: #7f8c8c;
  font-size: 14px;
  margin-bottom: 34px;
}

.request-location .location-info .phone-number {
  position: relative;
  margin-bottom: 20px;
}

.request-location .location-info .phone-number::before {
  content: "";
  position: absolute;
  background: url(/img/contacts/phone_icn.png) no-repeat;
  width: 100%;
  height: 100%;
  top: 0;
}

.request-location .request-address {
  margin-bottom: 50px;
}

input {
  background: #ececec;
  border: none;
  border-radius: 2px;
  box-shadow: -4px -4px 0px #d4d4d4;
}

@media print, (min-width: 768px) {

  header {
    background-size: 100% auto;
    padding: 27px 0 22px;
  }

  .container {
    min-width: 1250px;
  }

  .wrapper {
    width: 73.125rem;
    margin-left: auto;
    margin-right: auto;
  }

  .breadcrumb {
    padding: 35px 0;
    margin-bottom: 50px;
  }

  .breadcrumb-directory {
    font-size: 12px;
  }

  .page-title {
    font-size: 20px;
  }

  .geographic-location {
    margin-bottom: 63px;
  }

  .geographic-location .location-map {
    margin-bottom: 60px;
    border-radius: 6px;
    box-shadow: 0 3px 0 0 #e0e2e3;
  }

  .geographic-location .location-description {
    padding: 15px 12px;
    border-radius: 6px;
  }

  .contact-form .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contact-form {
    margin-bottom: 240px;
  }

  .request-form .form-title {
    margin-bottom: 64px;
  }

  .request-form form {
    margin-bottom: 34px;
  }

  .request-form .client-name {
    
  }
  
  .request-form .client-email {}

  .request-form .client-website {}

  .request-form .client-request {}

  .request-button {
    border: none;
    border-radius: 6px;
    background: #e8645a;
    box-shadow: 0 3px 0 0 #e1534b;
    font-size: 20px;
    color: #fff;
    /* height: 20px; */
    padding: 15px 46px;
    transition: .25s ease;
  }

  footer {
    padding-top: 49px;
    background-size: 100% auto;
  } 
}