/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  font-family: "Open Sans", sans-serif;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

.trans {
  transition: opacity .25s ease;
}

button {
  outline: none;
}

button:hover {
  cursor: pointer;
}

/******* HEADER *******/

header {
  background: #76c7c0 url(img/common/up_divider_bg.png) no-repeat center bottom;
}

header .wrapper {
  display: flex;
  justify-content: space-between;
}

.keyvisual-slider img {
  display: block;
  width: 100%;
}

.client-list img {
  display: block;
  width: auto;
  margin: 0 auto;
}

header .header-logo .header-logo:hover {
  opacity: .8;
}

.keyvisual-section-top {
  background: #f3f3f3;
  position: relative;
}

.keyvisual-slider-wrapper .keyvisual-slider .slick-arrow::before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  background: url(img/top/icn_double_arrow.png) center center/auto no-repeat;
  position: absolute;
  top: 4px;
  left: 0;
}

.keyvisual-slider .slick-prev::before {
  transform: rotate(-180deg);
}

.header-slider {
  text-align: center;
}

.header-slider .slider-title {
  background: #e2534b;
  color: #fff;
  display: inline-block;
  font-weight: 800;
}

.header-navigation .portfolio-navigation-section .header-navigation-portfolio {
  display: none;
  background-color: #e2534b;
  transition: .25s ease;
  position: absolute;
}

header .header-navigation-portfolio li {
  position: relative;
}

.header-navigation-portfolio::after {
  content: "";
  position: absolute;
  display: inline-block;
  padding: 2px;
  background: #e2534b;
  transform: rotate(45deg);
}

.slider-description {
  color: rgba(255,255,255,.8);
  background: rgba(0,0,0,.5);
  line-height: 1.65;
}

/***************************** SECTION *****************************/

.category-section:hover .hover-category {
  display: block;
}

.category-section:hover .static-category {
  display: none;
}

.category-section .category-picture {
  margin-bottom: 12px;
  margin-right: 7px;
}

.product-summary {
  position: relative;
  background: #f3f3f3 url(img/common/footer_icn_bg_path.png) no-repeat top center/100% auto;
}

.product-summary::before {
  position: absolute;
  content: "";
  background: #ecebec url(img/common/down_divider_bg.png) no-repeat top center;
}

.category-picture .hover-category {
  display: none;
}

.category-section img {
  margin: 0 auto;
}

.top-services {
  background: #f3f3f3;
}

.top-services .services-view {
  background-color: #ececec;
}

.services-view a {
  background: #e8645a;
  box-shadow: 0 4px 0 0 #e2534b;
}

.services-intro .services-description {
  color: #7f8c8c;
  font-weight: 600;
}

.category-section .category-title {
  font-weight: 800;
  color: #7f8c8c;
  text-align: center;
}

.category-section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0 4px 0 0 #e5e6e6;
  background: #f8f8f8;
  transition: .25s ease;
  height: auto;
}

.category-section:hover .category-box {
  transition: .25s ease;
  cursor: pointer;
}

.category-section img {
  display: block;
}

.category-section .category-description {
  text-align: center;
  line-height: 1.6;
}

.category-section a {
  display: block;
  font-weight: 600;
  text-align: center;
  background: #76c7c0;
  border-radius: 6px;
  position: absolute;
  padding: 18px 65px;
  transform: translate(-2px, 231px);
  font-size: 14px;
  box-shadow: 0 4px 0 0 rgb(98,184,175);
}

.product-summary .modus-versus-slider .product-description {
  text-align: center;
  color: rgba(0,0,0,.5);
  letter-spacing: -.01em;
}

.product-summary .modus-versus-slider .product-slider-center {
  z-index: 2;
  transform: translateY(-8px);
}

.product-summary .product-slider .product-slider-left {
  transform: translateX(68px);
}

.product-summary .product-slider .product-slider-right {
  transform: translateX(-72px);
}

/******* SECTION 2 *******/

.product-summary-title {
  font-size: 40px;
  color: #e1524b;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
  margin-left: -4px;
}

.product-sub-section {
  font-weight: 800;
  color: #7f8c8c;
}

.product-summary .product-efficiency .product-goals {
  width: 240px;
  margin-right: 80px;
}

.product-summary .product-efficiency .clients-feedback {
  width: 300px;
}

.product-summary .clients-feedback .client-opinion {
  color: #7f8c8c;
  line-height: 1.98;
  position: relative;
  background: #f8f8f8;
}

.product-summary .clients-feedback .client-opinion::after {
  content: "";
  display: inline-block;
  border-style: solid;
  border-color: transparent #f8f8f8 #f8f8f8 transparent;
  transform: rotate(270deg);
  position: absolute;
  border-width: 14px;
  bottom: -26px;
  left: 14px;
}

.product-summary .clients-feedback .client-name {
  color: #7f8c8c;
  font-size: 16px;
  margin-left: 60px;
  font-weight: 600;
}

.product-summary .product-efficiency .product-testing {
  width: 610px;
  margin: -8px 40px 0 11px;
}

.product-summary .product-efficiency .testing-highlight {
  text-decoration: underline;
  color: #e1524b;
}

.product-summary .product-efficiency .testing-highlight:hover {
  text-decoration: none;
}

.product-efficiency .product-testing .testing-result {
  display: flex;
  flex-wrap: wrap;
}

.product-efficiency .product-testing .testing-title {
  text-align: center;
  color: #7f8c8c;
  font-size: 16px;
}

.product-efficiency .product-goals .product-goals-title {
  margin-bottom: 30px;
  margin-left: -1px;
}

.product-efficiency .product-goals .product-goals-list {
  color: #7f8c8c;
  line-height: 2;
  position: relative;
  left: 17px;
  letter-spacing: -.01em;
}

.product-efficiency .product-goals .product-goals-list::before {
  content: "";
  background: url(img/common/section_arrow_right_icn.png) no-repeat top
    center/100% auto;
  width: 10px;
  height: 12px;
  position: absolute;
  top: 9px;
  left: -16px;
}

.product-testing .testing-result .fifty-percent {
  background: url(img/top/percent_img_01.png) no-repeat top center/100% auto;
  display: inline-block;
  width: 120px;
  height: 29px;
  margin-bottom: 22px;
}

.product-testing .testing-result .seventy-percent {
  background: url(img/top/percent_img_02.png) no-repeat top center/100% auto;
  display: inline-block;
  width: 120px;
  height: 29px;
  margin-bottom: 23px;
}

.product-testing .testing-result .eighty-percent {
  background: url(img/top/percent_img_03.png) no-repeat top center/100% auto;
  display: inline-block;
  width: 120px;
  height: 29px;
  margin-bottom: 23px;
}

.product-testing .testing-result .hundred-percent {
  background: url(img/top/percent_img_04.png) no-repeat top center/100% auto;
  display: inline-block;
  width: 120px;
  height: 29px;
  margin-bottom: 23px;
}

.product-testing .testing-result span {
  font-size: 30px;
  text-align: center;
  padding-top: 29px;
  font-weight: 800;
  color: #7f8c8c;
}

.product-summary .clients-satisfaction .client-section::before {
  content: "";
  background-color: #e1e1e1;
  border-radius: 50%;
  order: 1;
  width: 7px;
  height: 7px;
  margin-left: 15px;
  margin-top: 3px;
}

.product-summary .clients-satisfaction .client-section::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid #e1e1e1;
  order: 2;
  transform: translateY(1px);
}

.product-summary .clients-satisfaction .client-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product-summary .clients-satisfaction {
  position: relative;
}

/******* FOOTER *******/

footer {
  background: #76c7c0 url(img/common/down_divider_bg.png) no-repeat top center;
  color: rgba(255,255,255,.8);
}

.footer-logo {
  display: block;
}

.company-networks {
  padding: 22px 0 16px 0;
  margin: 0 auto;
}

.company-copyright {
  display: flex;
}

.company-phone {
  display: flex;
}

.company-email {
  display: flex;
}

.company-info .company-contacts {
  line-height: .8;
}

.company-info .company-contacts li {
  line-height: .8;
}

.company-info .company-contacts strong {
  font-weight: 600;
}

.company-info p {
  line-height: 1.8;
}

.company-links p {
  color: #497e79;
  font-weight: 700;
  position: relative;
}

.footer-link {
  line-height: 1.8;
  position: relative;
  color: rgba(255,255,255,.8);
}

.footer-link::before {
  content: "";
  position: absolute;
  display: inline-block;
  padding: 2px;
  border: 1px solid;
  border-color: transparent #fff #fff transparent;
  transform: rotate(-45deg);
  top: 12px;
  left: 9px;
}

.company-community p {
  color: #497e79;
  font-weight: 700;
  position: relative;
}

.footer-navigation {
  display: flex;
  width: 33.33%;
}

.blog-highlights span {
  text-transform: uppercase;
}

.blog-highlights ul a {
  display: flex;
}

.blog-highlights p em {
  font-style: italic;
}

.blog-highlights .blog-description p {
  line-height: 1.6;
}

.blog-highlights .blog-description time {
  color: rgba(0,0,0,.28);
}

.facebook-site {
  position: relative;
}

.facebook-site::after {
  background: url(img/common/footer_facebook_icon.png) no-repeat center/100%
    auto;
  content: "";
  position: absolute;
}

.googleplus-site {
  position: relative;
}

.googleplus-site::after {
  background: url(img/common/footer_googleplus_icn.png) no-repeat center/100%
    auto;
  content: "";
  position: absolute;
}

.twitter-site {
  position: relative;
}

.twitter-site::after {
  background: url(img/common/footer_twitter_icn.png) no-repeat center/100% auto;
  content: "";
  position: absolute;
}

.rss-site {
  position: relative;
}

.rss-site::after {
  background: url(img/common/footer_rss_icn.png) no-repeat center/100% auto;
  content: "";
  position: absolute;
}

.keyvisual-slider .slick-arrow {
  display: inline-block;
  background-color: #e8645a;
  opacity: 1;
  z-index: 1;
  cursor: pointer;
  position: absolute;
  top: 49%;
  transform: translateY(-50%);
  text-indent: -999px;
  overflow: hidden;
  border: none;
}

.keyvisual-slider .slick-prev {
  left: 0;
  border-radius: 0 5px 5px 0;
}

.keyvisual-slider .slick-next {
  right: 0;
  border-radius: 5px 0 0 5px;
}

/********************** START OF SLICK SLIDER ************************/

.client-list button {
  right: 0;
  text-indent: -99999px;
  overflow: hidden;
  border: none;
}

.client-list .slick-next::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  transform: rotate(180deg);
  width: 100%;
  height: 100%;
}

.client-list .slick-arrow {
  position: absolute;
  background: #999;
  transition: .25s ease;
}

.client-list .slick-prev::after {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  background: #999 url(img/top/icn_single_arrow.png) no-repeat center;
  width: 100%;
  height: 100%;
}

/********************** END OF SLICK SLIDER ************************/

/********* RESPONSIVE *********/

/*********************************  PC  /*********************************/

@media print, (min-width: 768px) {

  header {
    background-size: 100% auto;
  }

  .product-sub-section {
    font-size: 16px;
  }

  .company-sites a::after {
    width: 22px;
    height: 22px;
  }

  .container {
    min-width: 1250px;
  }

  .header-slider {
    position: absolute;
    top: -47px;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
  }

  .header-slider-bar {
    visibility: visible;
  }

  .header-navigation {
    display: flex;
    margin-right: 8px;
  }

  main p {
    color: #777;
    font-size: 13px;
  }

  .wrapper {
    width: 73.125rem;
    margin-left: auto;
    margin-right: auto;
  }

  /********************** START OF HEADER ************************/

  /********************** START OF SLICK SLIDER ************************/

  .slider-item {
    width: 100%;
    height: auto;
  }

  .keyvisual-slider .slick-dots li {
    width: 60px;
    height: 6px;
    background: #afb8b9;
    margin: 0 5px;
    transition: .25s ease;
  }

  .keyvisual-slider .slick-dots li:hover {
    background-color: #e1534b;
    cursor: pointer;
  }

  .keyvisual-slider .slick-dots .slick-active {
    background-color: #e1534b;
  }

  .keyvisual-slider .slick-dots button {
    display: none;
  }

  .keyvisual-slider button {
    display: none;
  }

  header .link-search {
    transform: translate(-1px, 6px);
    margin-left: 26px;
    position: relative;
  }

  header .link-search:hover {
    opacity: .8;
  }

  header .link-search::before {
    content: "";
    height: 40px;
    width: 40px;
    position: absolute;
    top: -40%;
    transform: translateX(-30%);
  }

  .button-menu {
    display: none;
  }

  .header-navigation ul a {
    padding: 8px 26px;
    font-size: 13px;
    margin-right: 1px;
    transition: .25s ease;
  }

  .header-logo {
    margin-left: 7px;
  }

  .header-logo:hover {
    opacity: .8;
  }

  .keyvisual-slider-wrapper .keyvisual-slider .slick-dots {
    display: flex;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -26px;
  }

  .header-slider .slider-title {
    border-radius: 5px;
    padding: 0px 11px 2px;
    font-size: 50px;
    margin-left: 5px;
    margin-bottom: 10px;
  }

  .keyvisual-slider-wrapper .keyvisual-slider .slick-arrow {
    display: inline-block;
    background-color: #98a3a3;
    cursor: pointer;
    position: absolute;
    text-indent: -999px;
    overflow: hidden;
    width: 50px;
    height: 55px;
    background-color: #e76459;
    box-shadow: 0 3px 0 0 #e1534b;
    transition: .26s ease;
  }

  .keyvisual-slider .slick-arrow:hover {
    background-color: #e2534b;
  }

  .keyvisual-slider .slick-next::before {
    transform: rotate(0);
  }

  /********************** END OF SLICK SLIDER ************************/

  /********************** START OF SLICK SLIDER ************************/

  .client-list button {
    top: -79px;
    right: 4px;
    border: none;
    border-radius: 6px;
    width: 40px;
    height: 37px;
    box-shadow: 0 3px 0 0 #7f8c8c;
  }

  .client-list .slick-next::after {
    content: "";
    position: absolute;
    top: 1px;
    right: -1px;
    transform: rotate(180deg);
    background: url(img/top/icn_single_arrow.png) no-repeat center;
    width: 100%;
    height: 100%;
  }

  .client-list .slick-arrow:hover {
    background: #e8645a;
    box-shadow: 0 3px 0 0 #e1534b;
  }

  .client-list .slick-prev::after {
    position: absolute;
    content: "";
    top: 0;
    right: 2px;
    background: url(img/top/icn_single_arrow.png) no-repeat center;
    width: 100%;
    height: 100%;
  }

  .client-list .slick-prev {
    right: 63px;
  }

  /********************** END OF SLICK SLIDER ************************/

  .header-navigation-portfolio {
    width: 190px;
    padding: 2px 3px;
    border-radius: 5px;
    top: calc(100% + 16px);
    visibility: hidden;
    opacity: 0;
  }

  header .header-navigation-portfolio li {
    padding: 3px 1px;
  }

  .header-navigation .header-navigation-portfolio a::before {
    margin-right: 9px;
    padding: 2px;
    top: 15px;
    left: 6px;
    border: 1px solid;
    border-color: transparent #fff #fff transparent;
    content: "";
    position: absolute;
    display: inline-block;
    transform: rotate(-45deg);
  }

  .header-navigation-portfolio::after {
    padding: 8px 8px 0 0;
    top: -4px;
    left: 10px;
  }

  .keyvisual-section-top .slider-description {
    width: 390px !important;
    margin: 0 auto;
    padding: 7px 40px 12px;
    border-radius: 4px;
    font-size: 16px;
  }

  header {
    padding: 27px 0 22px;
    position: relative;
    z-index: 9;
  }

  .header-navigation > ul {
    display: flex;
    transform: translateY(-2px);
  }

  .header-navigation ul li {
    display: flex;
    transition: .25s ease;
  }

  .header-navigation .is-active {
    background: #62a29e;
    box-shadow: 0 3px 0 0 #528b86;
    border-radius: 5px;
    padding: 8px 16px 8px 12px;
    font-size: 14px;
    margin-right: 3px;
  }

  .header-navigation ul a:hover {
    background-color: #e5665d;
    box-shadow: 0 3px 0 0 #e2534b;
    border-radius: 5px;
  }

  .header-navigation .portfolio-navigation-section {
    position: relative;
  }

  .header-navigation .portfolio-navigation-section:hover {
    background: #e5665d;
    box-shadow: 0 3px 0 0 #e2534b;
    border-radius: 5px;
    cursor: pointer;
  }

  .header-navigation .portfolio-navigation-section:hover .header-navigation-portfolio {
    display: inline-block;
    visibility: visible;
    opacity: 1;
  }

  .header-navigation .header-navigation-portfolio a {
    display: block;
    padding: 8px 16px 7px 21px;
    color: #fff;
    background-color: #e5655d;
    border-radius: 3px;
    font-weight: 600;
    transition: .28s ease;
  }

  .header-navigation .header-navigation-portfolio a:hover {
    background-color: #76c7c0;
  }

  .portfolio-navigation-section::before {
    content: "";
    display: inline-block;
    padding: 2px;
    border: 1px solid;
    border-color: transparent #fff #fff transparent;
    transform: rotate(45deg);
    position: absolute;
    top: 9px;
    left: 13px;
  }

  .portfolio-navigation-section::after {
    content: "";
    width: 100%;
    height: 53px;
    position: absolute;
  }

  /******* SECTION *******/

  .top-services {
    padding: 52px 0 80px;
  }

  .wrapper {
    width: 1170px;
    margin: 0 auto;
  }

  .top-services .services-view {
    margin: 0 auto;
    border-radius: 6px;
    margin-bottom: 50px;
    padding: 30px 24px 0;
    height: 70px;
  }

  .top-services .services-view .services-intro {
    margin-bottom: 32px;
    width: 890px;
    margin-right: 8px;
  }

  .services-view .services-intro p {
    font-size: 13px;
  }

  .services-view a {
    margin: 0;
  }

  .services-view a {
    box-shadow: 0 4px 0 0 #e1534b;
    font-size: 20px;
    border-radius: 6px;
    height: 20px;
    padding: 15px 46px;
    transition: .25s ease;
  }

  .services-view a:hover {
    background: #76c7c0;
    box-shadow: 0 4px 0 0 rgb(98,184,175);
    opacity: .8;
  }

  .services-intro .services-description {
    margin-bottom: 9px;
    font-size: 30px;
    margin-left: 1px;
  }

  .category-section .category-title {
    margin-bottom: 30px;
    transform: translateX(-4px);
  }

  .category-section {
    width: 270px;
    position: relative;
    box-shadow: 0 4px 0 0 #e5e6e6;
    border-radius: 8px;
    padding: 50px 0 62px;
    transition: .25s ease;
  }

  .category-section .category-box {
    position: absolute;
    transition: .25s ease;
    bottom: -26px;
    left: 50%;
    transform: translateX(-51%);
    width: 73px;
  }

  .category-section:hover {
    background-color: #fff;
  }

  .category-section:hover .category-box {
    background: #e8645a;
    box-shadow: 0 4px 0 0 #e1534b;
  }

  .category-section .category-description {
    padding: 0 14px;
  }

  .category-section a {
    border-radius: 6px;
    padding: 18px 65px;
    transform: translate(-3px, 233px);
    font-size: 14px;
    box-shadow: 0 4px 0 0 rgb(98, 184, 175);
    transition: .25s ease;
  }

  .top-services .services-view {
    display: flex;
    padding: 21px 24px 0;
    margin: 0 auto 42px;
    border-radius: 6px;
    height: auto;
  }

  .top-services .services-view a {
    margin: 1px 0 0 10px;
  }

  .top-services .services-categories {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .product-summary .modus-versus-slider {
    margin: 67px 0 47px 0;
  }

  .product-summary .modus-versus-slider .modus-versus-heading {
    margin-bottom: 76px;
    z-index: 9999;
    position: relative;
  }

  .product-summary .modus-versus-slider .product-slider {
    display: flex;
    justify-content: center;
    margin-left: -2px;
    align-items: center;
  }

  .product-summary .product-efficiency {
    font-size: 13px;
    display: flex;
    margin-bottom: 58px;
  }

  .product-efficiency .product-testing .testing-result {
    justify-content: space-between;
  }

  .product-efficiency .product-testing p {
    margin: 0 0 55px 11px;
    line-height: 2;
    width: 540px;
  }

  .product-summary .clients-feedback .client-comment {
    margin-bottom: 25px;
    letter-spacing: -.01em;
    margin-left: -3px;
  }

  .product-summary .clients-feedback .client-opinion {
    border-radius: 6px;
    padding: 9px 16px 11px;
    margin-bottom: 9px;
  }

  .product-summary .clients-satisfaction .client-section {
    margin-bottom: 52px;
    position: relative;
    align-items: center;
    display: flex;
    padding-right: 120px;
  }

  .product-summary {
    padding-top: 1px;
    padding-bottom: 51px;
  }

  .product-summary::before {
    width: 100%;
    height: 400px;
  }

  /********* FOOTER *********/

  footer {
    padding-top: 49px;
    background-size: 100% auto;
  }

  footer ul {
    font-size: 13px;
    letter-spacing: -.01em;
    margin-left: -3px;
  }

  .footer-logo {
    margin-bottom: 25px;
  }

  .footer-logo:hover {
    opacity: .8;
  }

  .company-summary {
    display: flex;
    padding-bottom: 25px;
  }

  .company-networks {
    background: rgba(0,0,0,.1);
  }

  .company-networks .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .company-networks .copyright-time {
    margin-right: 5px;
  }

  .company-networks small {
    font-size: 12px;
    margin-left: 5px;
  }

  .company-sites {
    display: flex;
    margin-right: -22px;
  }

  .company-sites li {
    margin-right: 45px;
    margin-top: -8px;
  }

  .company-sites li a:hover {
    opacity: .8;
  }

  .company-summary .company-community ul {
    font-size: 13px;
    margin-left: -1px;
  }

  .company-summary .company-links {
    margin-right: 102px;
  }

  .company-summary .footer-link:hover {
    opacity: .8;
  }

  .company-summary .company-links ul {
    margin-left: -5px;
  }

  .company-summary .blog-highlights {
    width: 345px;
    margin-left: 44px;
  }

  .company-summary .blog-highlights strong {
    margin-left: -1px;
  }

  .company-phone dt {
    margin-right: 14px;
  }

  .company-email dt {
    margin-right: 14px;
  }

  .company-info {
    width: 383px;
    padding-left: 3px;
    margin: -1px 57px 0 0;
  }

  .company-info .company-contacts li {
    margin-left: 3px;
    margin-bottom: 2px;
  }

  .company-info .company-contacts a {
    margin-left: 9px;
    transform: translateY(2px);
    cursor: pointer;
  }

  .company-info .company-contacts .phone-number {
    margin-left: 18px;
    display: inline-block;
  }

  .company-info .company-contacts a:hover {
    opacity: .8;
  }

  .company-info .company-contacts .email-info {
    margin-left: 20px;
  }

  .company-info .company-contacts em {
    font-size: 36px;
    height: 100%;
    display: inline-block;
  }

  .company-info .company-contacts strong {
    font-size: 20px;
  }

  .company-info p {
    margin-bottom: 15px;
    font-size: 13px;
    letter-spacing: -.01em;
  }

  .company-links p {
    margin-bottom: 27px;
    font-size: 20px;
    left: -44px;
  }

  .company-links .footer-link::before {
    left: -17px;
    top: 6px;
  }

  .company-community p {
    margin-bottom: 28px;
    font-size: 20px;
    left: -39px;
  }

  .company-community .footer-link::before {
    left: -17px;
    top: 5px;
  }

  .blog-highlights .blog-highlights-item {
    margin-bottom: 18px;
  }

  .blog-highlights ul a:hover {
    opacity: .8;
  }

  .blog-highlights .blog-description {
    padding: 0 10px 0 18px;
    transform: translateY(-4px);
  }

  .blog-highlights > p {
    font-size: 20px;
    margin-bottom: 26px;
  }

  .blog-highlights .blog-description p {
    margin-bottom: 5px;
  }

  .company-info .phone-number {
    pointer-events: none;
  }
}

/****** SP ******/

@media only screen and (max-width: 767px) {


  /******************************** SLICK *********************************/

  .keyvisual-slider .slick-arrow {
    width: .3rem;
    height: .4rem;
    box-shadow: 0 3px 0 0 #e1534b;
  }

  .keyvisual-slider-wrapper .keyvisual-slider .slick-arrow::before {
    background-size: auto .2rem;
    top: 0;
  }

  .slider-item {
    height: 4rem;
  }

  .slider-item img {
    height: 100%;
  }

  .keyvisual-section-top {
    position: relative;
  }

  .top-services {
    padding: .3rem 0 .4rem;
  }

  .product-summary {
    padding-bottom: .5rem;
  }

  .product-summary::before {
    width: 100%;
    height: 4rem;
    background-size: auto 0.19rem;
  }

  .modus-versus-slider {
    position: relative;
    padding-top: .5rem;
    z-index: 9;
  }

  .keyvisual-section-top .header-slider {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  /******************************** SLICK *********************************/

  html {
    font-size: calc(100vw / 3.75);
  }

  header {
    background-size: auto 0.09rem;
  }

  body {
    font-size: .24rem;
    overflow-x: hidden;
  }

  .slick-dots {
    display: none;
  }

  .container {
    min-width: 320px;
  }

  main p {
    color: #777;
    font-size: .16rem;
    line-height: .2rem;
  }

  .wrapper {
    margin: 0 auto;
    padding: 0 .2rem;
  }

  /**************** HEADER ****************/

  header .header-navigation {
    display: none;
  }

  header {
    padding: .2rem .1rem;
  }

  header .header-logo .header-logo-picture {
    width: 1.5rem;
    transition: .25s ease;
  }

  /**************** START OF HAMBURGER SIDEBAR ****************/

  .button-menu span {
    height: .01rem;
    right: .23rem;
    left: 3.2rem;
    top: .45rem;
    background: #fff;
    display: block;
    position: absolute;
  }

  .button-menu span:nth-child(2) {
    top: .25rem;
  }

  .button-menu span:nth-child(3) {
    top: .35rem;
  }

  /**************** END OF HAMBURGER SIDEBAR ****************/

  header .header-logo-picture img {
    width: 100%;
  }

  .header-navigation {
    display: none;
  }

  .keyvisual-section-top .header-slider .slider-description {
    font-size: .14rem;
    padding: .07rem .2rem .12rem;
    border-radius: .04rem;
    margin: 0 .7rem;
  }

  .header-slider .slider-title {
    padding: .01rem .1rem;
    font-size: .32rem;
    margin-bottom: .1rem;
    border-radius: .05rem;
  }

  /******** SECTION ********/

  .top-services .services-view {
    border-radius: .1rem;
    margin: 0 auto .4rem;
    padding: .2rem .1rem .35rem;
  }

  .top-services .services-view .services-intro {
    margin-bottom: .2rem;
  }

  .top-services .services-intro .services-description {
    font-size: .25rem;
    margin-bottom: .2rem;
  }

  .services-view a {
    border-radius: .06rem;
    padding: .06rem .3rem;
    font-size: .2rem;
  }

  .product-summary .modus-versus-slider .product-slider {
    width: 100%;
    margin: 0 auto;
  }

  .product-summary .modus-versus-slider .product-summary-title {
    font-size: .3rem;
    margin-bottom: .08rem;
    margin-left: -.02rem;
  }

  .product-summary .product-slider li {
    display: block;
    margin: 0 auto .2rem;
    transform: translate(0, 0) !important;
  }

  .product-summary .modus-versus-product img {
    width: 100%;
  }

  .top-services .services-categories .category-section {
    position: relative;
    padding: .4rem .1rem;
    margin-bottom: .5rem;
    border-radius: .06rem;
  }

  .services-categories .category-section .category-box {
    font-size: .14rem;
    padding: .1rem;
    bottom: -.14rem;
    left: 50%;
    transform: translateX(-50%);
    width: 1rem;
  }

  .category-section .category-picture {
    margin: 0 auto .08rem;
    width: .7rem;
  }

  .category-section .category-picture img {
    width: 100%;
  }

  .category-section .category-title {
    font-size: .16rem;
    margin-bottom: .2rem;
  }

  .category-section .category-box .category-picture {
    margin: 0 auto .3rem;
    width: .6rem;
  }

  .top-services .services-categories {
    width: 100%;
    margin: 0 auto;
  }

  .product-summary .product-efficiency {
    margin: 0 auto;
  }

  .product-summary .product-efficiency .product-goals {
    margin-bottom: .1rem;
    width: 100%;
  }

  .product-efficiency .product-goals .product-goals-title {
    margin-bottom: .2rem;
  }

  .product-sub-section {
    font-size: .18rem;
  }

  .product-efficiency .product-goals .product-goals-list::before {
    width: .15rem;
    height: .52rem;
    top: .06rem;
    left: -.2rem;
  }

  .product-efficiency .product-goals .product-goals-list {
    left: .3rem;
    font-size: .15rem;
    width: 3rem;
  }

  .product-summary .product-efficiency .product-testing {
    width: 100%;
    margin: 0;
  }

  .product-efficiency .product-testing p {
    line-height: .3rem;
    margin-bottom: .2rem;
  }

  .product-efficiency .product-testing .testing-result {
    justify-content: space-around;
  }

  .product-summary .modus-versus-slider .product-description {
    line-height: .2rem;
  }

  .product-testing .testing-result span {
    font-size: .3rem;
    padding-top: .36rem;
  }

  .product-testing .testing-result .result-percentage {
    width: 1.3rem;
    height: auto;
    margin-bottom: .1rem;
  }

  .product-efficiency .product-testing .testing-title {
    font-size: .17rem;
  }

  .product-efficiency .product-testing li {
    margin-bottom: .4rem;
  }

  .product-efficiency .clients-feedback .client-comment {
    margin-bottom: .3rem;
  }

  .product-summary .clients-feedback .client-opinion {
    padding: .09rem .16rem .11rem;
    margin-bottom: .09rem;
    border-radius: .06rem;
  }

  .product-efficiency .clients-feedback .client-name {
    font-size: .16rem;
  }

  .product-summary .modus-versus-slider .modus-versus-heading {
    margin-bottom: .25rem;
  }

  .product-summary .product-efficiency .clients-feedback {
    width: 100%;
    margin-bottom: .4rem;
  }

  .product-summary .clients-satisfaction {
    color: #7f8c8c;
    margin: 0 auto;
  }

  .product-summary .clients-satisfaction .client-section {
    margin-bottom: .5rem;
    font-size: .16rem;
  }

  .product-summary .clients-satisfaction .client-list {
    margin: 0 auto;
    justify-content: space-around;
  }

  /********************** START OF SLICK SLIDER ************************/

  .client-list button {
    top: -.72rem;
    border-radius: .06rem;
    width: .3rem;
    height: .3rem;
  }

  .client-list .slick-prev {
    right: .4rem;
  }

  .client-list .slick-next::after {
    background: url(img/top/icn_single_arrow.png) no-repeat center;
  }

  .client-list img {
    width: 90%;
    margin: 0 auto;
  }

  /********************** END OF SLICK SLIDER ************************/

  /******************** FOOTER *********************/

  footer {
    padding-top: .4rem;
    background-size: auto .2rem;
  }

  footer .company-info p {
    margin-bottom: .2rem;
    font-size: .13rem;
  }

  footer .company-summary .company-info {
    margin-bottom: .3rem;
  }

  footer .company-info .footer-logo {
    width: 2rem;
    margin-bottom: .2rem;
  }

  footer .footer-logo img {
    width: 100%;
  }

  .company-info .company-contacts li {
    line-height: 1.4;
    font-size: .13rem;
  }

  footer .company-info-list {
    margin-left: .2rem;
  }

  footer .company-links {
    margin-bottom: .2rem;
  }

  footer .company-community {
    margin-bottom: .2rem;
  }

  footer .blog-highlights {
    margin-bottom: 40px;
  }

  .company-info .phone-number {
    cursor: pointer;
  }

  .footer-link::before {
    left: -.18rem;
    top: .07rem;
    padding: .03rem;
  }

  .footer-link {
    left: .2rem;
    font-size: .15rem;
  }

  footer .blog-highlights figure {
    width: 1.2rem;
  }

  .blog-highlights .blog-highlights-item .blog-description {
    margin-left: .1rem;
    padding-top: .02rem;
  }

  .blog-highlights .blog-highlights-item {
    margin-bottom: .1rem;
  }

  .blog-highlights p {
    margin-bottom: .2rem;
  }

  .blog-highlights .blog-description p {
    font-size: .16rem;
    margin-bottom: .02rem;
  }

  .blog-highlights .blog-description time {
    font-size: .15rem;
  }

  .company-links p {
    font-size: .2rem;
    margin-bottom: .05rem;
  }

  .company-community p {
    font-size: .2rem;
    margin-bottom: .05rem;
  }

  .company-info .company-contacts strong {
    font-size: .2rem;
  }

  .blog-highlights img {
    width: 100%;
  }

  footer .company-networks {
    padding: .1rem 0 .4rem;
    background: rgba(0,0,0,.1);
  }

  footer .company-networks .company-sites {
    display: flex;
    justify-content: space-around;
  }

  .company-networks small {
    display: block;
    font-size: .12rem;
    margin-bottom: .2rem;
  }

  .company-networks .copyright-time {
    margin-right: .02rem;
  }

  .company-sites a::after {
    width: .25rem;
    height: .3rem;
  }
}