/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

a {
  text-decoration: none;
  color: #fff;
}

strong {
  font-weight: 700;
}

em {
  font-style: italic;
}

/* main {
  overflow: hidden;
} */

button:hover {
  cursor: pointer;
}

/******* HEADER *******/

.header {
  display: flex;
  justify-content: space-between;
  background: #76c7c0 url(img/common/header_icn_bg_path.png) no-repeat center bottom/100% auto;
}

.header-section-top {
  background: #f3f3f3;
}

.header-nav {
  display: flex;
}

.header-slider {
  background-color: #7f8c8c;
  text-align: center;
}

.header-slider
  .slider-title {
    background: #e2534b;
    color: #fff;
    display: inline-block;
    font-weight: 800;
  }

.header-nav-portfolio {
  display: none;
  background-color: #e2534b;
  transition: ease 0.25s;
  position: absolute;
}

.header .header-nav-portfolio li {
    position: relative;
  }

.header
  .header-nav .header-nav-portfolio li a::before {
    /* content: "";
    display: inline-block;
    border-color: transparent #fff #fff transparent;
    transform: rotate(-45deg); */

    content: "";
    position: absolute;
    display: inline-block;
    padding: 2px;
    border: 1px solid;
    border-color: transparent #fff #fff transparent;
    transform: rotate(-45deg);
  }

.header-nav-portfolio::after {
  /* position: absolute;
  content: "";
  transform: rotate(45deg);
  background: #e2534b; */

  content: "";
  position: absolute;
  display: inline-block;
  padding: 2px;
  border: 1px solid;
  border-color: transparent #e2534b #e2534b transparent;
  background: #e2534b;
  transform: rotate(45deg);
}

.slider-description {
  color: rgba(255,255,255, .8);
  background: rgba(0,0,0,.5);
  line-height: 1.65;
}

/***************************** SECTION *****************************/

.top-services {
  background: #f3f3f3;
}

.top-services
  .services-view {
    background-color: #ececec;
  }

/* .top-services
  .services-view
    .services-intro {
      width: 80%;
    } */

.services-view a {
  background: #e8645a;
}

.services-intro
  .services-description {
    color: #7f8c8c;
    font-weight: 600;
  }

.category-section
  .category-title {
    font-weight: 800;
    color: #7f8c8c;
    text-align: center;
  }

.category-section {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  box-shadow: 0 4px 0 0 #e5e6e6;
  background: #f8f8f8;
}

/* .category-section.chosen-box {
    background: #fff;
  } */

.category-section
  img {
    display: block;
  }

.category-section
  .category-description {
    text-align: center;
    line-height: 1.6;
  }

.category-section
  a {
    display: block;
    font-weight: 600;
    text-align: center;
    background: #76c7c0;
    border-radius: 6px;
    position: absolute;
    padding: 18px 65px;
    transform: translate(-2px,231px);
    font-size: 14px;
    letter-spacing: .2px;
    box-shadow: 0 4px 0 0 rgb(98, 184, 175);
  }

.product-summary {
  background: #f3f3f3 url(img/common/footer_icn_bg_path.png) no-repeat top center/100% auto;
  /* padding-top: 67px;
  padding-bottom: 50px; */
}

.product-summary
  .modus-versus-slider {
    margin-bottom: 55px;
  }

.product-summary
  .modus-versus-slider
    .modus-versus-heading {
      margin-bottom: 69px;
    }

.product-summary
  .modus-versus-slider
    .product-description {
      text-align: center;
      color: rgba(0, 0, 0, .5);
      letter-spacing: -.1px;
    }

.product-summary
  .modus-versus-slider
    .product-slider
      .product-slider-center {
        z-index: 2;
        transform: translateX(-2px);
      }

.product-summary
  .modus-versus-slider
    .product-slider
      .product-slider-left {
        transform: translate(68px, 60px);
      }

.product-summary
  .modus-versus-slider
    .product-slider
      .product-slider-right {
        transform: translate(-72px, 59px);
      }

/******* SECTION 2 *******/

.product-summary-title {
  font-size: 40px;
  color: #e1524b;
  font-weight: 600;
  text-align: center;
  margin-bottom: 8px;
  margin-left: -2px;
}

.product-sub-section {
  font-weight: 800;
}

.product-summary
  .product-efficiency
    .product-goals {
      width: 240px;
      margin-right: 80px;
    }

.product-summary
  .product-efficiency
    .clients-feedback {
      width: 300px;
    }

.product-summary
  .product-efficiency
    .clients-feedback
      .client-comment {
        color: #7f8c8c;
        margin-bottom: 25px;
        font-size: 16px;
        letter-spacing: -.1px;
        margin-left: -3px;
      }

.product-summary
  .product-efficiency
    .clients-feedback 
      .client-opinion {
        color: #7f8c8c;
        line-height: 1.98;
        border-radius: 6px;
        position: relative;
        background: #f8f8f8;
        padding: 7px 16px 13px;
        margin-bottom: 9px;
      }

.product-summary
  .product-efficiency
    .clients-feedback 
      .client-opinion::after {
        content: "";
        display: inline-block;
        border-style: solid;
        border-color: transparent #f8f8f8 #f8f8f8 transparent;
        transform: rotate(270deg);
        position: absolute;
        border-width: 14px;
        bottom: -26px;
        left: 14px;
      }

.product-summary
  .product-efficiency
    .clients-feedback 
      .client-name {
        color: #7f8c8c;
        font-size: 16px;
        margin-left: 60px;
        /* letter-spacing: 0.2px; */
        font-weight: 600;
      }

.product-summary
  .product-efficiency
    .product-testing {
      width: 610px;
      /* margin: 0 40px 0 11px; */
      margin: -8px 40px 0 11px;
    }

/* .product-summary
  .product-efficiency
    .product-testing p {
      margin-bottom: 51px;
      line-height: 1.9;
      transform: translateY(-6px);
      padding: 0 14px;
      letter-spacing: -0.17px;
    } */

.product-summary
  .product-efficiency
    .product-testing
      .testing-highlight {
        text-decoration: underline;
        color: #e1524b;
      }

.product-efficiency
  .product-testing
    .testing-result {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

.product-efficiency
  .product-testing li span {
    color: #7f8c8c;
    font-weight: 700;
  }

.product-efficiency
  .product-testing
    .testing-title {
      text-align: center;
      color: #7f8c8c;
      font-size: 16px;
    }

.product-efficiency
  .product-goals 
    .product-goals-title {
      color: #7f8c8c;
      margin-bottom: 30px;
      font-size: 16px;
      margin-left: -1px;
    }

.product-efficiency
  .product-goals ul li {
    color: #7f8c8c;
    line-height: 2;
    position: relative;
    left: 17px;
    letter-spacing: -.1px;
  }

.product-efficiency
  .product-goals ul li::before {
    content: "";
    background: url(img/common/section_arrow_right_icn.png) no-repeat top center/100% auto;
    width: 10px;
    height: 12px;
    position: absolute;
    top: 9px;
    left: -16px;
  }

.product-testing
  .testing-result
    .fifty-percent {
      background: url(img/top/percent_img_01.png) no-repeat top center/100% auto;
      display: inline-block;
      width: 120px;
      height: 29px;
      margin-bottom: 22px;
    }

.product-testing
  .testing-result
    .seventy-percent {
      background: url(img/top/percent_img_02.png) no-repeat top center/100% auto;
      display: inline-block;
      width: 120px;
      height: 29px;
      margin-bottom: 23px;
    }

.product-testing
  .testing-result
    .eighty-percent {
      background: url(img/top/percent_img_03.png) no-repeat top center/100% auto;
      display: inline-block;
      width: 120px;
      height: 29px;
      margin-bottom: 23px;
    }

.product-testing
  .testing-result
    .hundred-percent {
      background: url(img/top/percent_img_04.png) no-repeat top center/100% auto;
      display: inline-block;
      width: 120px;
      height: 29px;
      margin-bottom: 23px;
    }

.product-testing
  .testing-result
    .result-suspendisse {
      font-size: 30px;
      text-align: center;
      padding-top: 29px;
      font-weight: 800;
    }

.product-summary
  .clients-satisfaction
    .client-section::before {
      content: "";
      background-color: #e1e1e1;
      border-radius: 50%;
      order: 1;
      width: 7px;
      height: 7px;
      margin-left: 15px;
      margin-top: 3px;
    }

.product-summary
  .clients-satisfaction
    .client-section::after {
      content: "";
      flex: 1;
      border-bottom: 1px solid #e1e1e1;
      order: 2;
      transform: translateY(1px);
    }

.product-summary
  .clients-satisfaction
    .client-list {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }

/* .clients-satisfaction
  .client-list
    .list-icon {
      background: #f8f8f8;
      padding: 33px 36px;
      border-radius: 5px;
    } */

.product-summary
  .clients-satisfaction {
    position: relative;
  }

.product-summary
  .clients-satisfaction
    .client-section-button {
      position: absolute;
      right: 3px;
      top: -10px;
    }

.product-summary
  .clients-satisfaction
    button {
      border: none;
      border-radius: 6px;
      width: 40px;
      height: 37px;
      background: #999;
      box-shadow: 0 3px 0 0 #7f8c8c;
    }

.product-summary
  .clients-satisfaction
    button:hover {
      background: #e1524b;
      box-shadow: 0 3px 0 0 #e1524b;;
    }

.product-summary
  .clients-satisfaction
    .button-left {
      margin-right: 15px;
      padding-top: 4px;
      padding-right: 10px;
    }

.product-summary
  .clients-satisfaction
    .button-right {
      padding: 3px 16px 0;
    }

/******* FOOTER *******/

footer {
  background: #76c7c0 url(img/common/footer_icn_bg_path.png) no-repeat top center/100% auto;
  color: rgba(255, 255, 255, .8);
}

.footer-logo {
  display: block;
}

.company-copyright {
  display: flex;
}

.company-sites {
  display: flex;
}

.company-phone {
  display: flex;
}

.company-email {
  display: flex;
}

.company-info
  .company-contacts {
    line-height: .8;
  }

.company-info
  .company-contacts
    li {
      line-height: .8;
    }

.company-info
  .company-contacts
    li a {
      display: inline-block;
      color: rgba(255, 255, 255, .8);
    }

.company-info
  .company-contacts strong {
    font-weight: 600;
  }

.company-info p {
  line-height: 1.8;
}

.company-links p {
  color: #497e79;
  font-weight: 700;
  position: relative;
}

.company-links ul li a {
  line-height: 1.8;
  position: relative;
  color: rgba(255, 255, 255, .8);
}

.company-links ul li a::before {
  content: "";
  position: absolute;
  display: inline-block;
  padding: 2px;
  border: 1px solid;
  border-color: transparent #fff #fff transparent;
  transform: rotate(-45deg);
  top: 12px;
  left: 9px;
}

.company-community p {
  color: #497e79;
  font-weight: 700;
  position: relative;
}

.company-community ul li a {
  line-height: 1.8;
  position: relative;
  color: rgba(255, 255, 255, .8);
}

.company-community ul li a::before {
  content: "";
  position: absolute;
  display: inline-block;
  padding: 2px;
  border: 1px solid;
  border-color: transparent #fff #fff transparent;
  transform: rotate(-45deg);
  top: 12px;
  left: 9px;
}

.footer-nav {
  display: flex;
  width: 33.33%;
}

.blog-highlights span {
  text-transform: uppercase;
}

.blog-highlights ul li {
  display: flex;
}

/* .blog-highlights ul figure {
  background: rgba(0, 0, 0, .2);
} */

.blog-highlights p em {
  font-style: italic;
}

.blog-highlights .blog-description p {
  line-height: 1.6;
}

.blog-highlights .blog-description time {
  color: rgba(0, 0, 0, 0.28);
}

.facebook-site {
  position: relative;
}

.facebook-site::after {
  background: url(img/common/icn_facebook.png) no-repeat center/100% auto;
  content: "";
  position: absolute;
}

.googleplus-site {
  position: relative;
}

.googleplus-site::after {
  background: url(img/common/icn_googleplus.png) no-repeat center/100% auto;
  content: "";
  position: absolute;
}

.twitter-site {
  position: relative;
}

.twitter-site::after {
  background: url(img/common/icn_twitter.png) no-repeat center/100% auto;
  content: "";
  position: absolute;
}

.rss-site {
  position: relative;
}

.rss-site::after {
  background: url(img/common/icn_rss.png) no-repeat center/100% auto;
  content: "";
  position: absolute;
}

/* .the-slider {
  width: 500px;
  height: 100px;
  margin: 0 auto;
} */

/********* RESPONSIVE *********/

/*********************************  PC  /*********************************/

@media print, (min-width: 768px) {

  .product-summary
    .clients-satisfaction
      button {
        border: none;
        border-radius: 6px;
        width: 40px;
        height: 37px;
        background: #999;
        box-shadow: 0 3px 0 0 #7f8c8c;
      }

  .container {
    min-width: 1250px;
  }

  .header-slider {
    padding: 160px 0 207px;
  }


  main p {
    color: #777;
    font-size: 13px;
  }

  .wrapper {
    width: 73.125rem;
    margin-left: auto;
    margin-right: auto;
  }

  /********************** HEADER ************************/

  .header-section-top {
    padding-bottom: 50px;
  }

  .header .magnifier {
    transform: translate(-1px, 6px);
    margin-left: 26px;
  }

  .header-nav ul li a {
    padding: 8px 26px;
    font-size: 13px;
    margin-right: 1px;
  }

  .header-company-logo {
    margin-right: 40px;
  }

  .header-slider {
    background-color: #7f8c8c;
    text-align: center;
  }

  .header-slider
    .slider-title {
      border-radius: 5px;
      padding: 0px 11px 2px;
      font-size: 50px;
      margin-left: 5px;
      margin-bottom: 10px;
    }

  .header-nav-portfolio {
    width: 190px;
    padding: 2px 5px;
    border-radius: 5px;
    top: calc(100% + 16px);
  }

  .header .header-nav-portfolio li {
    padding: 5px 1px;
  }

  .header
    .header-nav .header-nav-portfolio li a::before {
      margin-right: 9px;
      padding: 2px;
      top: 15px;
      left: 6px;
    }

  .header-nav-portfolio::after {
    padding: 5px;
    top: -4px;
    left: 9px; 
  }

  .slider-description {
    width: 390px;
    margin: 0 auto;
    padding: 7px 40px 12px;
    border-radius: 4px;
    font-size: 16px;
  }

  .header {
    padding: 27px 172px 29px;
  }

  .header-nav > ul {
    display: flex;
    transform: translateY(3px);
  }
  
  .header-nav
    .is-active {
      background: #62a29e;
      box-shadow: 0 3px 0 0 #528b86;
      border-radius: 5px;
      padding: 5px 16px 6px 12px;
      font-size: 14px;
      margin-right: 3px;
    }
  
  .header-nav ul li a:hover {
    background: #e5665d;
    box-shadow: 0 3px 0 0 #e2534b;
    border-radius: 5px;
  }

  .header-nav 
    .portfolio-sub-menu {
      position: relative;
    }

  .header-nav .portfolio-sub-menu:hover + .header-nav-portfolio {
    display: block;
  }
  
  .header-nav 
    .header-nav-portfolio
      li
        a {
          display: block;
          padding: 6px 0px 6px 21px;
          color: #fff;
          background-color: #e5655d;
          border-radius: 5px;
          font-weight: 600;
        }
  
  .portfolio-sub-menu::before {
    content: "";
    display: inline-block;
    padding: 2px;
    border: 1px solid;
    border-color: transparent #fff #fff transparent;
    transform: rotate(45deg);
    position: absolute;
    top: 12px;
    left: 13px;
  }

  /******* SECTION *******/

  .top-services {
    padding-bottom: 80px;
  }
  
  .wrapper {
    width: 1170px;
    margin: 0 auto;
  }
  
  .top-services
    .services-view {
      margin: 0 auto;
      border-radius: 6px;
      margin-bottom: 50px;
      padding: 30px 24px 0;
      height: 70px;
    }
  
  .top-services
    .services-view
      .services-intro {
        margin-bottom: 32px;
        margin-right: 65px;
      }
  
  .services-view
    .services-intro
      p {
        font-size: 13px;
        letter-spacing: -0.1px;
      }
  
  .services-view 
    a {
      margin: 0;
    }
  
  .services-view a {
    box-shadow: 0 4px 0 0 #e1534b;
    font-size: 20px;
    border-radius: 6px;
    height: 20px;
    padding: 15px 46px;
  }
  
  .services-intro
    .services-description {
      margin-bottom: 9px;
      font-size: 30px;
      margin-left: 1px;
    }
  
  .category-section
    .category-title {
      margin-bottom: 30px;
      transform: translateX(-4px);
    }
  
  .category-section {
    width: 270px;
    box-shadow: 0 4px 0 0 #e5e6e6;
    border-radius: 8px;
    padding: 53px 0 62px;
  }
  
  .category-section
    .category-picture {
      margin-bottom: 12px;
      margin-right: 7px;
    }
  
  .category-section
    img {
      margin: 0 auto;
    }
  
  .category-section
    .category-description {
      padding: 0 14px;
    }
  
  .category-section
    a {
      border-radius: 6px;
      padding: 18px 65px;
      transform: translate(-2px,231px);
      font-size: 14px;
      letter-spacing: .2px;
      box-shadow: 0 4px 0 0 rgb(98, 184, 175);
    }

  .top-services
    .services-view {
      display: flex;
      padding: 23px 24px 0;
      /* height: 77px; */
      margin: 0 auto 56px;
      border-radius: 6px;
    }

  .top-services
    .services-view
      a {
        margin-left: 10px;
      }

  .top-services
    .services-categories {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }

  .product-summary
    .modus-versus-slider
      .product-slider {
        display: flex;
        justify-content: center;
      }

  .product-summary
    .product-efficiency {
      font-size: 13px;
      display: flex;
      margin-bottom: 58px;
    }

  .product-summary 
    .product-efficiency
      .product-testing p {
        margin-bottom: 55px;
        line-height: 2;
      }
  
  .product-summary
    .clients-satisfaction
      .client-section {
        color: #7f8c8c;
        margin-bottom: 52px;
        font-size: 16px;
        position: relative;
        align-items: center;
        display: flex;
        padding-right: 120px;
      }

  .company-summary {
    display: flex;
    padding-bottom: 25px;
  }

  .company-networks {
    background: rgba(0,0,0,.1);
    display: flex;
    justify-content: space-between;
    padding: 22px 165px 20px 169px;
  }

  .product-summary {
    padding-top: 67px;
    padding-bottom: 49px;
  }

  /********* FOOTER *********/

  footer {
    padding-top: 48px;
  }
  
  footer ul {
    font-size: 13px;
    letter-spacing: -.1px;
    margin-left: -3px;
  }
  
  .footer-logo {
    margin-bottom: 25px;
  }
  
  .company-networks
    small {
      font-size: 12px;
      letter-spacing: .4px;
    }
  
  .company-sites {
    /* transform: translate(1px, -8px); */
    transform: translate(-21px, -8px);
  }

  .company-sites li {
    /* margin: 0 22px; */
    margin-left: 40px;
    margin-right: 2px;
  }

  .company-summary
    .company-community
      ul {
        font-size: 13px;
        letter-spacing: -.1px;
        margin-left: -1px;
      }

  .company-summary
    .company-links {
      margin-right: 102px;
    }

  .company-summary
    .company-links
      ul {
        margin-left: -5px;
      }

  .company-summary
    .blog-highlights {
      width: 345px;
      margin-left: 45px;
    }

  .company-summary
    .blog-highlights
      strong {
        margin-left: -1px;
      }

  .company-phone dt {
    margin-right: 14px;
  }
  
  .company-email dt {
    margin-right: 14px;
  }
  
  .company-info {
    width: 383px;
    padding-left: 3px;
    margin-right: 57px
  }
  
  .company-info
    .company-contacts
      li {
        margin-left: 3px;
        margin-bottom: 2px;
      }
  
  .company-info
    .company-contacts
      li a {
        margin-left: 9px;
        transform: translateY(2px);
      }
  
  .company-info
    .company-contacts
      li
        .phone-number {
        margin-left: 12px;
      }
  
  .company-info
    .company-contacts
      .email-info {
        margin-left: 14px;
      }
  
  .company-info
    .company-contacts em {
      font-size: 36px;
    }
  
  .company-info
    .company-contacts strong {
      font-size: 20px;
    }
  
  .company-info p {
    margin-bottom: 15px;
    font-size: 13px;
    letter-spacing: -0.12px;
  }
  
  .company-links p {
    margin-bottom: 28px;
    font-size: 20px;
    left: -44px;
  }

  .company-links ul li a::before {
    left: -17px;
    top: 6px;
  }
  
  .company-community p {
    margin-bottom: 29px;
    font-size: 20px;
    left: -39px;
  }
  
  .company-community ul li a::before {
    left: -17px;
    top: 5px;
  }

  .blog-highlights ul li {
    margin-bottom: 18px;
  }
  
  /* .blog-highlights ul figure {
    padding: 21px 19px;
    border-radius: 5px;
  } */
  
  .blog-highlights .blog-description {
    padding: 0 10px 0 18px;
    transform: translateY(-4px);
  }
  
  .blog-highlights p {
    margin-bottom: 27px;
  }
  
  .blog-highlights > p {
    font-size: 20px;
  }
  
  .blog-highlights .blog-description p {
    margin-bottom: 5px;
  }

  .facebook-site::after {
    width: 10px;
    height: 22px;
  }
  
  .googleplus-site::after {
    width: 22px;
    height: 23px;
  }
  
  .twitter-site::after {
    width: 17px;
    height: 22px;
  }
  
  .rss-site::after {
    width: 22px;
    height: 21px;
  }
}

/****** SP ******/

@media only screen and (max-width: 767px) {

  html {
    font-size: calc(100vw / 3.75);
  }

  body {
    font-size: .24rem;
  }

  .container {
    min-width: 320px;
  }

  main p {
    color: #777;
    font-size: .13rem;
  }
  
  .wrapper {
    margin: 0 auto;
    padding: 0 .4rem;
  }

  /******** HEADER ********/
  .header
    .header-nav {
      display: none;
    }

  .header {
    padding: .27rem 0.4rem .29rem;
  }

  .header
    .header-company-logo
      .header-logo {
        width: 1.8rem;
      }

  .header
    .header-company-logo
      .header-logo
        img {
        width: 100%;
      }

  .header-nav {
    display: none;
  }

  .header-section-top
    .header-slider
      .slider-description {
        font-size: .16rem;
        width: 2.1rem;
        padding: .07rem .1rem .12rem;
        border-radius: .04rem;
        margin: 0 auto;
      }

  .header-slider {
    padding: 1rem 0;
  }

  .header-slider
    .slider-title {
      padding: 0 .04rem 0;
      font-size: .5rem;
      /* margin-left: .313rem; */
      margin-bottom: .3rem;
      border-radius: .02rem;
    }

  /******** SECTION ********/

  .top-services
    .services-view {
      border-radius: 0.1rem;
      margin: 0 auto .3rem;
      padding: .2rem 0.1rem;
    }

  .top-services 
    .services-view 
      .services-intro {
        margin-bottom: .2rem;
        width: 80%;
      }

  .top-services 
    .services-view 
      .services-intro
        .services-description {
          font-size: .3rem;
          margin-bottom: .3rem;
        }

  .services-view 
    a {
      border-radius: .06rem;
      padding: 0 .1rem;
      font-size: .2rem;
    }

  .product-summary 
    .modus-versus-slider 
      .product-slider {
        width: 100%;
        margin: 0 auto;
      }

  .product-summary 
    .modus-versus-slider
      .product-summary-title {
        font-size: .4rem;
      }

  .product-summary 
    .modus-versus-slider 
      .product-slider li {
          display: block;
          margin: 0 auto .2rem;
          transform: translate(0, 0)!important;
        }

  .product-summary 
    .modus-versus-slider 
      .product-slider li
        img {
          width: 100%;
        }
  
  .top-services
    .services-categories
      .category-section {
        position: relative;
        /* width: 2rem; */
        padding: .4rem .2rem;
        margin-bottom: 0.5rem;
        border-radius: .06rem;
        height: 1.8rem;
      }

  .services-categories
    .category-section
      .category-box a {
        top: .95rem;
        width: .5rem;
        font-size: .09rem;
      }
    
  .services-categories
    .category-section
      a {
        position: absolute;
        font-size: .09rem;
        transform: translateY(2.05rem);
        padding: 0.1rem .5rem;
      }
  
  .top-services > ul
    .category-section
      .category-box
        .category-picture {
          margin: 0 auto .08rem;
          width: .4rem;
        }

  .category-section
    .category-box
      .category-picture
        img {
          width: 100%;
        }

  .category-section 
    .category-title {
      font-size: .16rem;
    }

  .category-section
    .category-box
      .category-picture {
        margin: 0 auto .08rem;
        width: .4rem;
      }

  .top-services
    .services-categories {
      width: 100%;
      margin: 0 auto;
    }

  .product-summary
    .product-efficiency {
      margin: 0 auto;
    }

  .product-summary 
    .product-efficiency 
      .product-goals {
        margin-bottom: .1rem;
      }

  .product-summary 
    .product-efficiency 
      .product-goals
        .product-sub-section {
          font-size: .16rem
        }

  /* .product-efficiency 
    .product-goals 
      .product-goals-title {
        font-size: .24rem;
      } */

  .product-efficiency 
    .product-goals 
      ul 
        li::before {
          width: .15rem;
          height: .52rem;
          top: .06rem;
          left: -.2rem;
        }

  .product-efficiency 
    .product-goals 
      ul 
        li {
          left: .3rem;
          font-size: .15rem;
          width: 3rem;
        }

  .product-summary 
    .product-efficiency 
      .product-testing {
        margin: 0;
        width: 3.2rem;
      }

  .product-summary 
    .product-efficiency 
      .product-testing
        p {
          line-height: .2rem;
          margin-bottom: .2rem;
        }

  .product-summary 
    .modus-versus-slider 
      .product-description {
        line-height: 1.5;
      }

  .product-testing 
    .testing-result 
      .result-suspendisse {
        font-size: .4rem;
        padding-top: .37rem;
      }

  .product-testing 
    .testing-result 
      .result-maecenas {
        font-size: .4rem;
        padding-top: .37rem;
      }

  .product-testing 
    .testing-result 
      .result-aliquam {
        font-size: .4rem;
        padding-top: .37rem;
      }

  .product-testing 
    .testing-result 
      .result-habitasse {
        font-size: .4rem;
        padding-top: .37rem;
      }

  .product-testing 
    .testing-result 
      .fifty-percent {
        width: 1.5rem;
        height: .7rem;
        margin-bottom: -.2rem;
      }

  .product-testing 
    .testing-result 
      .seventy-percent {
        width: 1.5rem;
        height: .7rem;
        margin-bottom: -.2rem;
      }

  .product-testing 
    .testing-result 
      .eighty-percent {
        width: 1.5rem;
        height: .7rem;
        margin-bottom: -.2rem;
      }

  .product-testing 
    .testing-result 
      .hundred-percent {
        width: 1.5rem;
        height: .7rem;
        margin-bottom: -.2rem;
      }

  .product-efficiency 
    .product-testing 
      .testing-title {
        font-size: .17rem;
      }

  .product-summary
    .product-efficiency
      .product-testing
        li {
          margin-bottom: .4rem;
        }

  .product-summary 
    .modus-versus-slider 
      .modus-versus-heading {
        margin-bottom: .4rem;
      }

  .product-summary 
    .product-efficiency 
      .clients-feedback 
        .client-comment {
          font-size: .24rem;
        }

  .product-summary 
    .product-efficiency 
      .clients-feedback {
        margin-bottom: .4rem;
      }

  .product-summary 
    .product-efficiency 
      .clients-feedback 
        .client-opinion {
          font-size: .17rem;
        }

  .product-summary 
    .product-efficiency 
      .clients-feedback 
        .client-name {
          font-size: .2rem;
        }

  .product-summary
    .clients-satisfaction {
      color: #7f8c8c;
      margin: 0 auto;
    }

  .product-summary
    .clients-satisfaction 
      .client-section {
      margin-bottom: .2rem;
    }

  .product-summary 
    .clients-satisfaction 
      .client-section-button {
        right: .1rem;
      }

  .clients-satisfaction
    .client-list
      .list-icon {
        margin-bottom: .1rem;
        width: 1.3rem;
      }

  .clients-satisfaction
    .client-list
      .list-icon img {
        width: 100%;
      }

  .product-summary 
    .clients-satisfaction 
      .client-list {
        margin: 0 auto;
        justify-content: space-around;
      }
  
  /******************** FOOTER *********************/

  footer {
    padding: .7rem 0;
  }

  footer
    .company-summary {
      /* padding: .2rem .1rem 0; */
    }

  footer
    .company-summary 
      .company-info p {
      line-height: 1.2;
      margin-bottom: .2rem;
    }

  footer
    .company-summary 
      .company-info {
        margin-bottom: .3rem;
      }

  footer
    .company-summary
      .company-info
        .footer-logo {
          width: 1.8rem;
        }

  footer
    .company-summary
      .company-info
        .footer-logo img {
          width: 100%;
        }

  .company-info 
    .company-contacts 
      li {
        line-height: 1.4;
      }

  footer
    .company-links {
      margin-bottom: .2rem;
    }

  footer
    .company-community {
      margin-bottom: .2rem;
    }

  .company-links ul li a::before {
    left: -.25rem;
    top: -.02rem;
  }

  .company-links ul li a {
    left: 0.2rem;
  }

  .company-community ul li a::before {
    left: -.25rem;
    top: -.02rem;
  }

  .company-community ul li a {
    left: 0.2rem;
  }

  footer
    .blog-highlights
      ul
        li
          figure {
            padding: .27rem;
            border-radius: .06rem;
            width: .6rem;
            height: .35rem;
          }

  footer
    .blog-highlights
      ul
        .blog-description {
          font-size: .15rem;
          margin-left: .1rem;
        }

  .blog-highlights ul li {
    margin-bottom: .1rem;
  }

  .blog-highlights p {
    margin-bottom: .2rem;
  }

  footer
    .blog-highlights
      figure
        img {
          width: 100%;
        }
}